
body {background: #24292e;}
p {color: #fff;
text-aling: justify;
font-family: Times New Roman, Arial, Helvatica;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
 a { link: color:#FFf;    
   visited: color:#00FF00; 
   hover: color:#FF00FF;
   active: color:#0000FF;
}
ol {
list-style-type: upper-roman;
color: #fff;
}
  ul
  {
  list-style-type: circle;
  color: #fff;
  }
table {
border-collapse: collapse;
  width: 500px;
  text-aling: center;
  font-color: #000;
  background-color: #fff;
}
